/build/
/dist/
/nbproject/private/
/cursomejorandola/nodejs/node_modules/
/java/proyectoNetbeans/build/
/java/proyectoNetbeans/dist/
/java/ProyectosDiversos/ProbandoJMS/nbproject/private/
/java/ProyectosDiversos/ProbandoMDB/nbproject/private/
/java/ProyectosDiversos/ProbandoServlets/nbproject/private/
/java/ProyectosDiversos/ProbandoTagsELJSP/nbproject/private/