<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.armando.layouts" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".ListviewActivit1"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".ListviewActivit2"
            android:label="@string/title_activity_listview_activity2" >
        </activity>


        <activity android:name=".tabsProbandoTabs.AndroidActivity" />
        <activity android:name=".tabsProbandoTabs.WindowsActivity" />
        <activity android:name=".tabsProbandoTabs.AppleActivity" />
        <activity android:name=".tabsProbandoTabs.BlackBerryActivity" />
        <activity
            android:name=".ProbandoTabs"
            android:label="@string/title_activity_probando_tabs" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
